  /* RESET CSS */

#table-setting{
  margin: 10px;
}

table{
  margin-top: 10px;
}

.table_table-bordered{
  margin-top: 100px;
}

#SETTING-Button{
  margin-top: 6px;
  display: inline-block;;
}

.Submit-btn{
  /* margin-left: 100px; */
  padding-top: 10px;
  /* height: 100px;
  width: 100px; */
}

.btn{
  text-align: center;
  height: 30px;
  width: 80px;
}

.Back-btn{
  /* margin-top: 10px;
  padding-top: 10px; */
  display: block;
}