{% extends 'base.html' %}

{% block content %}
<div class="textarea">
<h1 class="fw-bold">Đau ngực do tim (đau thắt ngực):</h1>
<p class="fw-normal">Mô tả: Điển hình là cảm giác bị áp lực, bị ép, nặng nề hoặc tức ngực.</p>
<p class="fw-normal">Vị trí: Thường ở giữa xương ức hoặc hơi lệch về phía bên trái của ngực.</p>
<p class="fw-normal">Bức xạ: Có thể tỏa ra cánh tay, cổ, hàm, vai hoặc lưng.</p>
<p class="fw-normal">Tác nhân: Thường được kích hoạt bởi nỗ lực thể chất hoặc căng thẳng.</p>
<p class="fw-normal">Thời gian: Thường giảm khi nghỉ ngơi hoặc dùng nitroglycerin.</p>
</div>

<div class="textarea">
<h1 class="fw-bold">Đau ngực cơ xương: </h1>
<p class="fw-normal">Mô tả: Đau liên quan đến cơ, xương sườn hoặc khớp ở ngực.</p>
<p class="fw-normal">Vị trí: Có thể cảm nhận được ở bất cứ đâu trong vùng ngực và có thể tái tạo bằng cách ấn vào thành ngực.</p>
<p class="fw-normal">Tác nhân: Trầm trọng hơn do cử động hoặc thay đổi vị trí cơ thể.</p>
<p class="fw-normal">Thời gian: Có thể tồn tại trong thời gian ngắn hoặc kéo dài tùy theo nguyên nhân.</p>
</div>

<div class="textarea">
<h1 class="fw-bold">Đau ngực đường tiêu hóa:</h1>
<p class="fw-normal">Mô tả: Đau bắt nguồn từ hệ thống tiêu hóa, chẳng hạn như thực quản hoặc dạ dày.</p>
<p class="fw-normal">Vị trí: Thường cảm thấy ở vùng ngực dưới và có thể kèm theo các triệu chứng như trào ngược axit hoặc khó tiêu.</p>
<p class="fw-normal">Nguyên nhân: Trầm trọng hơn khi ăn, đặc biệt là thức ăn cay hoặc béo.</p>
<p class="fw-normal">Thời gian: Có thể cấp tính hoặc mãn tính.</p>
</div>
<div class="textarea">
<h1 class="fw-bold">Đau ngực phổi:</h1>
<p class="fw-normal">Mô tả: Đau liên quan đến hệ hô hấp, chẳng hạn như phổi hoặc màng phổi (niêm mạc quanh phổi).</p>
<p class="fw-normal">Vị trí: Có thể cảm thấy sâu ở ngực và thường trầm trọng hơn khi thở.</p>
<p class="fw-normal">Nguyên nhân: Tệ hơn khi hít thở sâu, ho hoặc một số tư thế cơ thể.</p>
<p class="fw-normal">Thời lượng: Có thể thay đổi tùy thuộc vào tình trạng hô hấp cơ bản.</p>
</div>
{% endblock %}