{% extends 'base.html' %}

{% block content %}
<h1 class="text-center" style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Bạn đã bị bệnh tim rồi huhuhu 😿😿😿😿</span></strong></h1>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Chế độ ăn uống l&agrave;nh mạnh:</span></strong></p>
<ul style="list-style-type: disc;">
    <li><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Tập trung v&agrave;o chế độ ăn nhiều tr&aacute;i c&acirc;y, rau, ngũ cốc nguy&ecirc;n hạt, protein nạc v&agrave; sữa &iacute;t b&eacute;o.</span></li>
    <li><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Hạn chế chất b&eacute;o b&atilde;o h&ograve;a v&agrave; chất b&eacute;o chuyển h&oacute;a, cholesterol, natri v&agrave; đường bổ sung.</span></li>
    <li><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Chọn chất b&eacute;o l&agrave;nh mạnh như chất b&eacute;o c&oacute; trong dầu &ocirc; liu, bơ v&agrave; c&aacute;c loại hạt.</span></li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Tập thể dục thường xuy&ecirc;n:</span></strong></p>
<ul style="list-style-type: disc;">
    <li><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Tham gia hoạt động thể chất thường xuy&ecirc;n. Đặt mục ti&ecirc;u tập thể dục với cường độ vừa phải &iacute;t nhất 150 ph&uacute;t hoặc 75 ph&uacute;t tập thể dục với cường độ mạnh mỗi tuần.</span></li>
    <li><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Bao gồm c&aacute;c b&agrave;i tập aerobic (như đi bộ, chạy bộ, bơi lội) v&agrave; r&egrave;n luyện sức mạnh.</span></li>
</ul>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Duy tr&igrave; c&acirc;n nặng khỏe mạnh:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Đạt được v&agrave; duy tr&igrave; c&acirc;n nặng khỏe mạnh. Giảm c&acirc;n qu&aacute; mức c&oacute; thể l&agrave;m giảm căng thẳng cho tim của bạn.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Từ bỏ h&uacute;t thuốc:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Nếu bạn h&uacute;t thuốc, h&atilde;y bỏ thuốc l&aacute;. H&uacute;t thuốc l&agrave; một yếu tố nguy cơ ch&iacute;nh g&acirc;y ra bệnh tim.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Hạn chế ti&ecirc;u thụ rượu:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Nếu bạn uống rượu, h&atilde;y uống c&oacute; chừng mực. Điều n&agrave;y thường c&oacute; nghĩa l&agrave; tối đa một ly mỗi ng&agrave;y đối với phụ nữ v&agrave; tối đa hai ly mỗi ng&agrave;y đối với nam giới.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Quản l&yacute; căng thẳng:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Thực h&agrave;nh c&aacute;c kỹ thuật quản l&yacute; căng thẳng, chẳng hạn như thở s&acirc;u, thiền, yoga hoặc c&aacute;c phương ph&aacute;p thư gi&atilde;n kh&aacute;c.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Kiểm so&aacute;t huyết &aacute;p:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Theo d&otilde;i v&agrave; quản l&yacute; huyết &aacute;p của bạn. Thực hiện theo c&aacute;c khuyến nghị của nh&agrave; cung cấp dịch vụ chăm s&oacute;c sức khỏe của bạn về thuốc v&agrave; thay đổi lối sống.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Quản l&yacute; mức cholesterol:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Giữ mức cholesterol của bạn trong tầm kiểm so&aacute;t. Điều n&agrave;y c&oacute; thể li&ecirc;n quan đến việc thay đổi chế độ ăn uống v&agrave; thuốc nếu cần thiết.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Kiểm so&aacute;t bệnh tiểu đường:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>Nếu bạn mắc bệnh tiểu đường, h&atilde;y kiểm so&aacute;t lượng đường trong m&aacute;u th&ocirc;ng qua chế độ ăn uống, thuốc men v&agrave; thay đổi lối sống.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:#F8F9FA;'><strong><span style='font-size:16px;font-family:"Times New Roman",serif;color:#202124;'>Kiểm tra định kỳ:</span></strong></p>
<div style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
    <ul style="margin-bottom:0in;list-style-type: disc;">
        <li style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:12.0pt;color:#202124;'>L&ecirc;n lịch kiểm tra thường xuy&ecirc;n với nh&agrave; cung cấp dịch vụ chăm s&oacute;c sức khỏe của bạn để theo d&otilde;i sức khỏe tổng thể của bạn v&agrave; ph&aacute;t hiện sớm mọi vấn đề tiềm ẩn.</span></li>
    </ul>
</div>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'><span style='font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
<p>cần tư vấn liên hệ bác sĩ Clash Royale qua số điện thoại: 0888.685.888 - 0888.132.888</p>
{% endblock %}