{% extends 'base.html' %}

{% block content %}
<p style='margin:0in;text-align:justify;line-height:150%;font-size:16px;font-family:"Times New Roman",serif;'>Để sử dụng ứng dụng, người d&ugrave;ng chỉ cần cung cấp c&aacute;c th&ocirc;ng tin về chiều cao, c&acirc;n nặng, độ tuổi v&agrave; một số th&ocirc;ng số kh&aacute;c li&ecirc;n quan đến sức khỏe của họ. Sau đ&oacute;, ứng dụng sẽ t&iacute;nh to&aacute;n điểm tương đồng giữa dữ liệu được cung cấp với dữ liệu của những người kh&aacute;c trong cơ sở dữ liệu v&agrave; dự đo&aacute;n nguy cơ mắc bệnh tim mạch.</p>
{% endblock %}